@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
body {
  background-color: #FFB4B4;
  font-family: Josefin Sans, sans-serif;
  color: #4f4f4f;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
}


.header {
  background:#fff;
  width:100%;
  margin:0 0 0 0;
  left: 0px;
  top: 0px;
  height: 64px;
  position: absolute;
  align-items: center;
}

.header_icon {
  float: left;
  margin: 16px;
}

.header_text {
  float: left;
  margin: 16px 16px 16px 0px ;
  font-size: 16px;
  line-height: 32px;
}

.header_menu {
  float: right;
  margin: 16px;
  display:none!important;
}


.big_text {
  /* Countdown to any date and event as you wish */

font-family: Josefin Sans;
font-style: normal;
font-weight: normal;
font-size: 28px;
text-align: left;
margin-bottom: 24px;
margin-top: 0;
}

.main_div {
position: relative;
top:96px;
margin: auto;
padding:24px;
width: 70%;
max-width: 640px;
min-width: 240px;

background: #FFffff;
border-radius: 12px;
text-align: center;

}

.timer_text {

font-size: 32px;
line-height: 32px;
}

.till {
font-size: 16px;
line-height: 16px;
}

.timer_event_name {
font-size: 24px;
line-height: 24px;
}

.hidden {
  display: none;

}

.change_button {
  height: 48px;
  width: 100%;
  min-width: 80px;
  border: 0;
  background: #FFE8E8;
border-radius: 8px;
font-family: Josefin Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height */

display: block;
align-items: center;
text-align: center;
text-transform: uppercase;


/* Dark */

color: #FF9292;
margin-top: 24px;
}

.change_button:hover {
  background: #FF9292;
  color: #ffffff;
  cursor: pointer;
;
}


.calculate_button {
  height: 48px;
  width: 100%;
  min-width: 80px;
  border: 0;
  background: #FF9292;
  margin-top: 24px;
border-radius: 8px;
font-family: Josefin Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height */

display: block;
align-items: center;
text-align: center;
text-transform: uppercase;

/* Dark */

color: #FFE8E8;
}

.calculate_button:hover {
  background: #994D4D;
  cursor: pointer;

}

.pre_calc {
  text-align: left!important;
}

#dateInput {
  box-sizing: border-box;
  border: 3px solid #4f4f4f;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
}

#eventInput {
  box-sizing: border-box;
  border: 3px solid #4f4f4f;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  padding: 8px;
  width: 80%;
  max-width: 320px;
}

#eventInput:focus {
  border: 3px solid #FF9292!important;
  #background: #FFE8E8;
}

target_text {
  margin-top: 32px;
}
